[submodule "shared/open_clip"]
	path = shared/open_clip
	url  = https://github.com/phlong3105/open_clip
[submodule "shared/spikingjelly"]
	path = shared/spikingjelly
	url  = https://github.com/phlong3105/spikingjelly
[submodule "shared/ultralytics"]
	path = shared/ultralytics
	url  = https://github.com/phlong3105/ultralytics
