[submodule "src/mon/extra/snntorch"]
	path = src/mon/extra/snntorch
	url  = https://github.com/phlong3105/snntorch
[submodule "src/mon/extra/spikingjelly"]
	path = src/mon/extra/spikingjelly
	url  = https://github.com/phlong3105/spikingjelly
[submodule "src/mon/extra/ultralytics"]
	path = src/mon/extra/ultralytics
	url  = https://github.com/phlong3105/ultralytics
[submodule "src/mon/vision/depth/depth_anything_v2"]
	path = src/mon/vision/depth/depth_anything_v2
	url  = https://github.com/phlong3105/depth_anything_v2
[submodule "src/mon/vision/depth/depth_anything"]
	path = src/mon/vision/depth/depth_anything
	url  = https://github.com/phlong3105/depth_anything
[submodule "src/mon/vision/depth/depth_pro"]
	path = src/mon/vision/depth/depth_pro
	url  = https://github.com/phlong3105/depth_pro
[submodule "src/mon/vision/segment/sam"]
	path = src/mon/vision/segment/sam
	url  = https://github.com/phlong3105/sam
[submodule "src/mon/vision/segment/sam2"]
	path = src/mon/vision/segment/sam2
	url  = https://github.com/phlong3105/sam2
[submodule "src/mon/vlm/openclip"]
	path = src/mon/vlm/openclip
	url  = https://github.com/phlong3105/openclip
[submodule "src/mon/vlm/clip"]
	path = src/mon/vlm/clip
	url  = https://github.com/phlong3105/clip
