# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

/.idea/
/.jekyll-cache/
/.sync/

/data/
/third_party/
/projects/aic/
/projects/chalearn/
/projects/edge_tss/
/projects/zero_adce/
/pretrained/
